In [1]:
name = 'Hector'

In [17]:
def printname_reverse(name):
    newname = ''
    for j in reversed(name):
        newname += j
        
    print(newname)

In [1]:
from yahoo_fin.stock_info import tickers_nasdaq, tickers_other, tickers_sp500
import yfinance as yf

# Obtener los símbolos del NASDAQ
nasdaq_symbols = tickers_nasdaq()

# Obtener los símbolos de otros intercambios
other_symbols = tickers_other()

# Obtener los símbolos del S&P 500
sp500_symbols = tickers_sp500()

In [ ]:
pip install streamlit yahoo-fin

In [4]:
# Obtenemos el simbolo
from intarface.simbols_tk import *
simbol = get_simbol()
simbol

'AAPL'

In [5]:
ticker = yf.Ticker(simbol)

period: data period to download (either use period parameter or use start and end) Valid periods are:

“1d”, “5d”, “1mo”, “3mo”, “6mo”, “1y”, “2y”, “5y”, “10y”, “ytd”, “max”


interval: data interval (1m data is only for available for last 7 days, and data interval <1d for the last 60 days) Valid intervals are:

“1m”, “2m”, “5m”, “15m”, “30m”, “60m”, “90m”, “1h”, “1d”, “5d”, “1wk”, “1mo”, “3mo”


start: If not using period – in the format (yyyy-mm-dd) or datetime.

end: If not using period – in the format (yyyy-mm-dd) or datetime.

In [6]:
df = ticker.history(start="2018-01-01", interval="1d")
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02 00:00:00-05:00,40.175173,40.680432,39.962679,40.670986,102223600,0.0,0.0
2018-01-03 00:00:00-05:00,40.734722,41.211650,40.600146,40.663891,118071600,0.0,0.0
2018-01-04 00:00:00-05:00,40.737080,40.956657,40.628475,40.852772,89738400,0.0,0.0
2018-01-05 00:00:00-05:00,40.949586,41.405262,40.857507,41.317905,94640000,0.0,0.0
2018-01-08 00:00:00-05:00,41.164433,41.461920,41.065266,41.164433,82271200,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-07 00:00:00-05:00,169.149994,170.729996,168.490005,169.000000,71765100,0.0,0.0
2024-03-08 00:00:00-05:00,169.000000,173.699997,168.940002,170.729996,76114600,0.0,0.0
2024-03-11 00:00:00-04:00,172.940002,174.380005,172.050003,172.750000,60139500,0.0,0.0
2024-03-12 00:00:00-04:00,173.149994,174.029999,171.009995,173.229996,59825400,0.0,0.0
2024-03-13 00:00:00-04:00,172.770004,173.190002,170.759995,171.130005,52437800,0.0,0.0

In [7]:
df.to_csv(f"Data/{simbol}_1h.txt", index=False, encoding="utf8")

In [73]:
df[["Open","High","Low","Close"]].min()

Open     34.504356
High     34.921343
Low      34.029856
Close    34.075390
dtype: float64

In [99]:
ticker.basic_info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [101]:
ticker.basic_info["dayHigh"]

173.49000549316406

In [59]:
['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

['currency',
 'dayHigh',
 'dayLow',
 'exchange',
 'fiftyDayAverage',
 'lastPrice',
 'lastVolume',
 'marketCap',
 'open',
 'previousClose',
 'quoteType',
 'regularMarketPreviousClose',
 'shares',
 'tenDayAverageVolume',
 'threeMonthAverageVolume',
 'timezone',
 'twoHundredDayAverage',
 'yearChange',
 'yearHigh',
 'yearLow']

La fórmula para calcular la capitalización de mercado es:

Market Cap = Precio de la Accion x Numero de Acciones en Circulacion

In [81]:
# Ultimo precio
lastPrice = ticker.get_fast_info()["lastPrice"]
# Market Cap = Precio de la Accion x Numero de Acciones en Circulacion
marketCap = ticker.get_fast_info()["marketCap"]
num_acciones = marketCap / lastPrice
#precio mas bajo del año
yearHigh = ticker.get_fast_info()["yearHigh"]
# precio mas alto del año
yearLow = ticker.get_fast_info()["yearLow"]
# zona horaria
timezone = ticker.get_fast_info()["timezone"]

print("Ultimo precio: ", "{:,}".format(lastPrice))
print("Mercado de Capitalizacion", "{:,}".format(marketCap))
print("Total de acciones", "{:,}".format(num_acciones))
print("Precio mas alto del año {:,}".format(yearHigh))
print("Precio mas bajo del año {:,}".format(yearLow))
print("Zona horaria ", timezone)

Ultimo precio:  173.3800048828125
Mercado de Capitalizacion 2,677,316,614,177.5
Total de acciones 15,441,899,520.0
Precio mas alto del año 199.6199951171875
Precio mas bajo del año 147.6999969482422
Zona horaria  America/New_York

In [96]:
df_news = pd.DataFrame(ticker.news)
df_news = df_news[["title","publisher","link","type","relatedTickers"]]
df_news.head()

,title,publisher,link,type,relatedTickers
0,What's It Going To Take To Get Apple Stock Out...,Investor's Business Daily,https://finance.yahoo.com/m/c1ee0d37-21b5-3376...,STORY,[AAPL]
1,Magnificent Seven Stocks To Buy And Watch: Nvi...,Investor's Business Daily,https://finance.yahoo.com/m/4205eaa9-f620-3a0b...,STORY,"[NVDA, AAPL, TSLA, META, MSFT]"
2,How Apple can exit a slump: Analyst,Yahoo Finance Video,https://finance.yahoo.com/video/apple-exit-slu...,VIDEO,[AAPL]
3,"Apple Stock’s Selloff Is Overdone, Wall Street...",Barrons.com,https://finance.yahoo.com/m/e5241c57-a4ab-3323...,STORY,[AAPL]
4,Apple's stock is in the red for 2024: What the...,Yahoo Finance Video,https://finance.yahoo.com/video/apples-stock-r...,VIDEO,[AAPL]