In [ ]:
def automata_palo(gameState, n):
    # Inicio el estado con el automata palo
    gameState[n, n-2] = 1
    gameState[n, n-1] = 1
    gameState[n, n] = 1
    
def movil(gameState, n):
    gameState[n, n] = 1
    gameState[n+1, n+1] = 1
    gameState[n+1, n+2] = 1
    gameState[n, n+2] = 1
    gameState[n-1, n+2] = 1
    
def movil_reverse(gameState, n):
    gameState[n, n] = 1
    gameState[n-1, n-1] = 1
    gameState[n-1, n-2] = 1
    gameState[n, n-2] = 1
    gameState[n+1, n-2] = 1

def cubo(gameState, n):
    gameState[n, n] = 1
    gameState[n+1,n+1] = 1
    gameState[n, n+1] = 1
    gameState[n+1, n] = 1
    
def four_palos(gameState, n):#5
    gameState[n-1, n-1] = 1
    gameState[n-1, n-2] = 1
    gameState[n+1, n-1] = 1
    gameState[n+2, n-2] = 1
    gameState[n, n-3] = 1
    gameState[n, n+1] = 1
    
def ovalo(gameState, n):#5
    gameState[n+1, n+1] = 1
    gameState[n+2, n] = 1
    gameState[n+2, n-1] = 1
    gameState[n+1, n-2] = 1
    gameState[n, n-1] = 1
    gameState[n, n] = 1
    
# Iniciamos el display
pygame.init()

# Medidas de la pantalla
width, height = 600, 600
screen = pygame.display.set_mode((height,width))

# Color de pantalla
bg = 25,25,25
screen.fill(bg)

# Cantidad de celdas en eje x,y
nxC, nyC = 50, 50
# Dimension de las celdas
dimCW = width  / nxC
dimCH = height / nyC

# Estado de las celdas. 1 si esta viva, 0 si esta muerta
gameState = np.zeros((nxC, nyC))

#movil(gameState,25)
#movil_reverse(gameState, 29)
#automata_palo(gameState, 35)   # 41
#cubo(gameState, 20)            # 18
four_palos(gameState, 25)           # 22
ovalo(gameState, 41)
# Control de execucion del juego
pauseExec = False

In [1]:
from fechas import *
import pandas as pd
from Datasets import   generate_dataset, up_to_db
from binance.spot import Spot
from conexion import *

In [2]:
df_simbolos = pd.read_csv('Data/Symbols_Spot.csv')
df_simbolos.shape

(2287, 21)

In [3]:
# Lee la clave hash para desencriptar
with open('/home/hector/Documentos/Escuelas/Autodidacta/Trading/Data/clave.key', 'r') as clave_file:
    clave = clave_file.read()
# Lee las contraseñas del archivo encriptado y muestra el resultado deseado
contraseñas = desencriptar_archivo('Data/credenciales.txt', clave)

In [4]:
db = "BNB"
cliente = Spot(key=contraseñas["APY_KEY_B"],secret=contraseñas["SECRET_KEY_B"])
con_get = open_conexion_get('HectorLP5',contraseñas['MYSQL_PASSW'],database='BNB')
con_set = abrir_conexion_MYSQL('HectorLP5',contraseñas['MYSQL_PASSW'],database=db)

In [5]:
simbolos = df_simbolos[(df_simbolos['baseAsset']=='BNB') & (df_simbolos['status']=='TRADING')]['symbol'].values
simbolos[1]

'BNBETH'

In [10]:
simbolos

array(['BNBBTC', 'BNBETH', 'BNBUSDT', 'BNBTUSD', 'BNBUSDC', 'BNBBUSD',
       'BNBRUB', 'BNBTRY', 'BNBEUR', 'BNBGBP', 'BNBBIDR', 'BNBDAI',
       'BNBBRL', 'BNBUAH', 'BNBFDUSD'], dtype=object)

In [8]:
# Cargar datos desde cierta fecha a SQL

intervalos = ["1d","4h","1h"] #["1d","12h","8h","6h","4h","2h","1h"]
#simbolos = ['BTCUSDT','TRXUSDT',"BNBUSDT","XRPUSDT","ETHUSDT"]
if_exist = "replace" #['fail', 'replace', 'append']
type_upload = 'manual' # ['auto','manual']
date_start = '2020-01-01 00:00:00' # En caso de que type_update==manual especificar 
format_date_start = '%Y-%m-%d %H:%M:%S' # Poner conforme al date_start, en caso de ser auto, no mover
# Hacer 2 manual
up_to_db(cliente, simbolos[2:4], intervalos[:], 
            date_start,fecha_format=format_date_start,
            type_upload=type_upload,
            con_get=con_get,con_set=con_set,if_exist=if_exist)

  0%|          | 0/2 [00:00<?, ?it/s]

Se cargo la tabla: BNBUSDT_1d
Se cargo la tabla: BNBUSDT_4h
Se cargo la tabla: BNBUSDT_1h

 50%|█████     | 1/2 [02:08<02:08, 128.06s/it]

Se cargo la tabla: BNBTUSD_1d
Se cargo la tabla: BNBTUSD_4h
Se cargo la tabla: BNBTUSD_1h

100%|██████████| 2/2 [03:54<00:00, 117.40s/it]

In [6]:
symbol = "BNBETH"
interval = "4h" # ["1d","12h","8h","6h","4h","2h","1h"]
table_name = symbol+"_"+interval

In [7]:
# Generar un dataframe

type_upload = 'manual' # ['auto','manual']
date_start = '2022-08-29 00:00:00' # En caso de que type_update==manual especificar 
format_date_start = '%Y-%m-%d %H:%M:%S' # Poner conforme al date_start, en caso de ser auto, no mover




df_aux = generate_dataset(cliente, symbol, interval,
                     date_start,fecha_format=format_date_start,
                    type_upload=type_upload,
                    con=None,table_name=None)
print(df_aux.shape)
df_aux.tail(3)

(2362, 12)

,Open_Time,Open,High,Low,Close,Volumne,Close_Time,Quote_asset_vol,Number_trades,Taker_buy_base,Taker_buy_quote,Ignore
2359,2023-09-26 06:00:00,26273.82,26306.39,26088.34,26126.66,4953.27044,2023-09-26 09:59:59.999,1.297190e+08,163297,2434.15969,6.375204e+07,0
2360,2023-09-26 10:00:00,26126.66,26295.99,26115.00,26247.70,3410.21082,2023-09-26 13:59:59.999,8.938701e+07,127964,1574.64082,4.127608e+07,0
2361,2023-09-26 14:00:00,26247.70,26288.68,26100.00,26224.77,2436.54003,2023-09-26 17:59:59.999,6.382755e+07,109721,1106.61219,2.898920e+07,0

In [16]:
table_name

'BNBETH_4h'

In [7]:
# cargar un dataframe de la base MySQL
last_df = pd.read_sql_query(f'''
                    SELECT *
                    FROM {table_name}
                                       
                    ''', con_get)
print(last_df.shape)
last_df.tail(3)

(8188, 11)

,Open_Time,Open,High,Low,Close,Volumne,Close_Time,Quote_asset_vol,Number_trades,Taker_buy_base,Taker_buy_quote
8185,2023-09-26 10:00:00,0.1333,0.1338,0.1332,0.1333,706.054,2023-09-26 14:00:00,94.224534,886,394.075,52.595000
8186,2023-09-26 14:00:00,0.1334,0.1336,0.1330,0.1333,583.004,2023-09-26 18:00:00,77.682224,709,347.541,46.313216
8187,2023-09-26 18:00:00,0.1333,0.1333,0.1333,0.1333,0.000,2023-09-26 22:00:00,0.000000,0,0.000,0.000000

In [15]:
# cargar un dataframe de la base MySQL
last_df = pd.read_sql_query(f'''
                    SELECT *
                    FROM {table_name}
                                       
                    ''', con_get)
print(last_df.shape)
last_df.tail(3)

(8146, 11)

,Open_Time,Open,High,Low,Close,Volumne,Close_Time,Quote_asset_vol,Number_trades,Taker_buy_base,Taker_buy_quote
8143,2023-09-19 10:00:00,0.1318,0.1322,0.1316,0.1320,504.964,2023-09-19 14:00:00,66.577313,777,245.660,32.401157
8144,2023-09-19 14:00:00,0.1320,0.1324,0.1319,0.1322,435.861,2023-09-19 18:00:00,57.603659,715,219.278,28.986107
8145,2023-09-19 18:00:00,0.1321,0.1322,0.1319,0.1319,93.848,2023-09-19 22:00:00,12.395601,146,64.752,8.554184

In [9]:
df_aux.to_sql("prueba",con_set,if_exists="append")

2362

In [ ]:
# Consulta para obtener una lista de bases de datos
query = "SHOW Tables;"

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados y mostrarlos
databases = cursor.fetchall()
print("Bases de datos disponibles:")
for db in databases:
    print(db[0])  # El resultado se encuentra en la posición 0 de cada tupla

In [12]:
last_df = pd.read_sql_query(f'''
            SELECT Close_Time
            FROM {table_name}
            LIMIT 1
            ''', con_get)
date_str = last_df.Close_Time.values[0]
#date_str = date_str.split(".")[0]
#last_date = datetime.strptime(date_str, format_date_start)

In [15]:
last_date = last_df.Close_Time.dt.strftime(format_date_start).values[0]
last_date

'2020-01-01 06:00:00'